<ul class="content">
	<li><span class="arrow"><a href="#"><img src="https://news.ycombinator.com/grayarrow.gif" /></a></span><span class="article"><a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today<a></span><span> (firebase.com)</span></li>
	<p class="hack_shift">63 points by <a href="#">lyime</a> 56 minutes ago | <a href="/home/comments">17 comments</a></p>
</ul>
<div>
	<form>
		<textarea type="text" name="search"></textarea>
		<button>add comment</button>
	</form>
</div>