<ul class="content">
	<li><span class="arrow"><a href="#"><img src="https://news.ycombinator.com/grayarrow.gif" /></a></span><span class="article"><a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today<a></span><span> (firebase.com)</span></li>
	<p class="hack_shift">63 points by <a href="#">lyime</a> 56 minutes ago | <a href="/home/comments">17 comments</a></p>
</ul>
<form>
	<textarea type="text" name="search"></textarea>
	<button>add comment</button>
</form>
<div class="reply">
		<span class="arrow_reply"><a href="#"><img src="https://news.ycombinator.com/grayarrow.gif" /></a></span><span class="reply_shift">63 points by <a href="#">lyime</a> 56 minutes ago | <a href="/home/comments">link</a></span>
	<p>
		Pretty good work. My thoughts on the visualization:
		Criticisms: 1) The moving around over the city skyline is slick and fun, but I doubt it conveys much useful information. I'd rather see the growth of new building over time. In visualization, motion should convey some meaning. Here it doesn't seem to. 2) It's important for visualizations to convey both anecdotal information (achieved through the before/after snapshots). But it's also important to convey quantitative information, magnitude and directions of changes. I don't detect anything like that here, even though there is quantitative information embedded in the text (e.g. "Population is up 2,000, but 600 poor people have left"). Numbers are good, visualizations that artfully convey the magnitude and direction of relevant numbers are even better. It's rare to have news narrative that can't be improved by conveying the quantities involved.
		Things they did right: 1) The before/after snapshots are useful and pack a punch. 2) Inclusive. The visualization includes a a variety of changes and doesn't get sucked down a narrowly focused rabbit hole. 3) Simplicity. It's not a data dump. The visualization does a decent job of conveying single themes without including unnecessary extra. It may go too far with this though (see criticism #2 above).
		Overall, I look forward to more visualizations like this from NYT and other media outlets.
	</p>
	<span class="rlink"><a href="#">reply</a></span>
</div>
<div class="reply2">
	<div class="reply">
		<span class="arrow_reply"><a href="#"><img src="https://news.ycombinator.com/grayarrow.gif" /></a></span><span class="reply_shift">23 points by <a href="#">dumbo</a> 40 minutes ago | <a href="/home/comments">link</a></span>
	<p>
		1) The moving around over the city skyline is slick and fun, but I doubt it conveys much useful information.
		I actually live in New York and it conveyed a lot of useful information for me, because I know my immediate neighborhood very well, along with a few others, but don't have a strong geographic sense of how various neighborhoods connect with each other. The swoops demonstrate how one neighborhood changes into another through space.
	</p>
	<span class="rlink"><a href="#">reply</a></span>
	</div>
</div>
<div class="reply3">
	<div class="reply">
		<span class="arrow_reply"><a href="#"><img src="https://news.ycombinator.com/grayarrow.gif" /></a></span><span class="reply_shift">8 points by <a href="#">bambi</a> 3 minutes ago | <a href="/home/comments">link</a></span>
	<p>
		How do you qualify "good journalism"? Data visualization is a powerful tool for story telling and the NYT has been at the forefront of this revolution in news. "Good journalism" is telling a story accurately and in a format that people can understand. Your claim that "good journalism has taken a back seat to flashy visualizations" seems to denigrate the work of data scientists such as Mike Bostock who are transforming news in a very meaningful way.
		How does data visualization qualify as "link bait" in the derogatory sense of the word?
	</p>
	<span class="rlink"><a href="#">reply</a></span>
	</div>
</div>
<div class="margin"></div>

