<ul>
	<li>1. <h3><a href="#">Firebase Leaves Beta Today<a></h3> (firebase.com)
	https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html
	63 points by lyime 56 minutes ago | 17 comments
	 
	<li>2. <h3><a href="#">Destructuring Assignment in ECMAScript 6<a></h3> (fitzgeraldnick.com)
	http://fitzgeraldnick.com/weblog/50/
	40 points by mnemonik 49 minutes ago | 5 comments</li>
	 
	<li>3. <h3><a href="#">Introducing Stripe UK<a></h3> (stripe.com)
	https://stripe.com/blog/introducing-stripe-uk
	230 points by woodrow 4 hours ago | 118 comments</li>
	 
	<li>4. <h3><a href="#">Datomic in the browser<a></h3> (ragnard.github.io)
	http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html
	47 points by brucehauman 2 hours ago | 1 comment</li>
	 
	<li>5. <h3><a href="#">Facebook App Outage Postmortem<a></h3> (facebook.com)
	https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/
	15 points by lacker 32 minutes ago | 2 comments</li>
	 
	<li>6. <h3><a href="#">Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data<a></h3> (techcrunch.com)
	http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/
	19 points by betojuareziii 1 hour ago | 13 comments</li>
	 
	<li>7. <h3><a href="#">It's the real thing<a></h3> (lettersofnote.com)
	http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1
	75 points by ezl 3 hours ago | 44 comments</li>
	 
	<li>8. <h3><a href="#">The anatomy of the perfect technical interview from a former Amazon VP<a></h3> (firstround.com)
	http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP
	55 points by jnazario 3 hours ago | 26 comments</li>
	 
	<li>9. <h3><a href="#">The Washington Post Web site was hacked today<a></h3> (washingtonpost.com)
	http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/
	34 points by selamattidur 2 hours ago | 26 comments</li>
	 
	<li>10. <h3><a href="#">Why does this Java program terminate despite appearing that it shouldn't?<a></h3> (stackoverflow.com)
	http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and
	88 points by patmcguire 3 hours ago | 83 comments</li>
</ul>
