@import url("normalize.css");

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: 'Verdana', 'Garamond', 'sans-serif';
	margin: 0;
	font-size: .75em;
}

ul {
	padding: 0;
	margin: 0;
}

.nav {
  background-color: #ff6600;
  margin-bottom: 10px;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 5px 0px 4px 0;
  margin: auto;
}

strong {
	padding-right: 10px;
}

#container {
	background-color: #f6f6ef;
	max-width: 85%;
	margin: 10px auto;
	padding-bottom: 30px;
}

img {
		
}

img.logo {
	border: 1px solid white;
	margin: 2px 4px 2px 2px;
	float: left;
}

h1 {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}

h4 {
	padding: 0;
	margin: 0;
	display: inline-block;
}

p {
	margin: 0 0 5px 0;
}

ul {
	list-style: none;
}

ul p {
	color: grey;
	padding-left: 35px;
	font-size: .75em;
}

p a {
	color: grey;
}

.header a, .footer a,
h4 a {
	color: black;
}

.content li {
	padding-left: 8px;
}

.content li:nth-child(n+1) {
	color: grey;
}

button {
	margin-bottom: 60px;
}

.reply {
	margin-bottom: 20px;
	padding-left: 8px;
	color: grey;
	font-size: .9em;
}

.reply a {
	color: grey;
	text-decoration: none;
}

.reply p {
	margin-top: 10px;
	color: black;
	font-size: 1.1em;
	padding-left: 18px;
}

.rlink {
	padding: 18px;
}

.rlink a {
	color: black;
	text-decoration: underline;
}

.reply2 {
	margin-top: 30px;
	margin-left: 40px;
}

.reply3 {
	margin-left: 80px;
}

.margin {
	margin-bottom: 50px;
}

#last {
	padding: 0;
}

.arrow {
	padding: 0 8px 0 0;
}

.arrow_reply {
	padding: 0;
	margin: 0;
}

.hack_shift {
	padding-left: 27px;
}

.reply_shift {
	padding-left: 8px;
}

.article {
	font-size: 1.1em;
}

a {
	color: black;
	text-decoration: none;
}

a span {
	color: grey;
}

.login {
	padding-right: 5px;
	float: right;
}

ul.content {
	padding-left: 0px;
}

.more a {
	padding-left: 27px;
	color: grey;
}

.line {
	border: 1px solid #ff6600;
}

div.search {
	padding-top: 15px;
	text-align: center;
}

textarea[type="text"] {
	margin: 27px;
	width: 500px;
	height: 100px;
	display: block;
}

button {
	margin-left: 27px;
}

.footer ul {
	text-align: center;
}

.footer li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.footer {
	padding: 20px 20px;
}
